.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  cursor: pointer;

  padding: 12px 20px;
  margin: 20px;

  background-color: dodgerblue;
  color: whitesmoke;

  border: 1px solid dodgerblue;
  border-radius: 10px;

  font-size: 1em;
  text-transform: capitalize;
  letter-spacing: 1px;

  transition: 0.5s;
}

button:hover {
  background-color: white;
  color: dodgerblue;
}
